body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*Menu*/
.select {
  position: absolute;
  margin: 0;
  inset: 0 0 auto auto;
  transform: translate(180px, 50px);
  color: rgb(79, 189, 186);
}

.job {
  background: #2d3748;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 5px 40px;
  min-width: 14rem;
  padding: 1rem;
  border-radius: 0.8rem;
}

.jobHeader {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

.open {
  visibility: visible;
}

.close {
  visibility: hidden;
}

.all,
.complete,
.uncomplete {
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  border: none;
  text-align: left;
  color: rgb(79, 189, 186);
}

.all:hover,
.complete:hover,
.uncomplete:hover {
  background-color: rgb(7, 34, 39, .4);
  border-radius: 20px;
}

.tagIcon {
  margin-right: 0.5rem;
}

/*編輯區域*/
.eDitHeader {
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.clockIcon {
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 2rem;
  font-size: 1.8rem;
}

.eDit {
  display: flex;
  max-width: 100%;
  margin: 0 auto 0;
  color: azure;
}

.eDitTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 1rem;
}

.eDitText {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.dateIcon {
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 2rem;
  font-size: 1.8rem;
}

.inputArea {
  width: 100%;
}

.eDitBox {
  width: 100%;
  margin: 0.5rem auto;
  display: flex;
}

.eDitInput {
  outline: none;
  width: 85%;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #ccc;
  background-color: #000000;
  border: 1px solid #c89666;
  border-radius: 10px;
}

.eDitAdd {
  width: 100px;
  height: 5vh;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 40px;
  border: 0;
  background-color: #f1af71;
  cursor: pointer;
}

button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

.eDitDelete {
  background-color: rgb(136, 136, 136, 0.8);
}

.addEdit {
  display: flex;
  cursor: pointer;
  margin: 1rem 2rem;
}

.addIcon {
  font-size: 2rem;
  color: rgb(79, 189, 186, 0.5);
  margin-right: 0.5rem;
  transition: all 0.1s ease-in-out;
}

.addText {
  font-size: 1.35rem;
  color: rgb(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
}

.addEdit:hover .addIcon {
  color: rgb(79, 189, 186);
}
.addEdit:hover .addText {
  color: rgb(230, 9, 101);
}

/*item*/
.item {
  max-width: 100%;
  height: 6vh;
  border: none;
  margin: 1rem;
  display: flex;
  align-items: center;
  background-color: #12343b;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: white;
}

.item::before {
  content: "";
}

/*確定*/
.checkBtn {
  margin: 0 0.5rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.checkIcon {
  font-size: 2rem;
  border: none;
  color: #ce2424;
}

/*編輯*/
.editBtn {
  margin: 0 0.5rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.editIcon {
  font-size: 2rem;
  padding-bottom: 1.5px;
  border: none;
  transition: 0.4s ease-in-out;
  color: #15d8df;
}

/*刪除*/
.deleteBtn {
  margin: 0 1rem 0 0.5rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.deleteIcon {
  font-size: 2rem;
  border: none;
  transition: 0.4s ease-in-out;
  color: rgb(135, 100, 69);
}

.completed {
  color: rgb(90, 84, 84);
  text-decoration: line-through;
}

.listText {
  width: 90%;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}
